@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Arapey);

* {
	font-family: Lato;
    }

#nakedheader-component { 
}

#nakedheader-component h1 {
	font-family: Lato;
}

#claim-your, #accomplishments-component * {
}

#claim-component{

	.column {
		max-width: 650px;
	}

	.ui .segment {
		padding: 35px
	}

	.ui.tiny.header {
		padding-bottom: 5px
	}

	.input {
		width: 100%;
	}
}

#accomplishments-component{

	.column {
		max-width: 744px;
	}

	ul {
		li {
			font-size: 32px;
			line-height: 1.5em;
		}
		outline: 0px;
	}

	.ui .segment {
		padding: 35px
	}

	.ui .header {
	}

	.input {
		width: 100%;
	}

	#examples {
		color: gray;
	}

	#job-label {
		margin-right: 40px;
	}
}
