@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Arapey);

#list-component
{

	#top-header {
		max-width: 900px!important;
	}

	font-family: Lato;

	.masthead.segment {
		min-height: 250px;
		padding: 1em 0em;
	}
	.masthead .logo.item img {
		margin-right: 1em;
	}
	.masthead .ui.menu .ui.button {
		margin-left: 0.5em;
	}

	.masthead h1.ui.header {
		margin-bottom: 0em;
		font-size: 3.5em;
		font-weight: normal;
	}

	.masthead h2 {
		font-size: 1.5em;
		font-weight: normal;
		font-family: Arapey;
		font-style: italic;
	}

	#selling-points {
	}

	#send-nom-div {
	}

	#methodology-div {
	}

	#send-nom-btn { 
		margin-left: 20px;
	}

	#referral-div {
		width: 200px;
	}

	#list {
		margin-top: 3em;
	}

	.blurred {
		-webkit-filter: blur(7px);
	}
}

#send-nom-div, #methodology-div {
 display: none;
 }
