{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
  </head>
  <body>
    <div id="react-app"></div>
	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-73126317-1', 'auto');
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
    {% render_bundle 'main' %}
  </body>
</html>

